*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: #20B2AA;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #BDBDBD;
}
::selection{
    background-color:#20B2AA;
    color: #ffffff;
}
