/* Conteúdo das páginas */
.content{
    background-color: #F5F9FC;
    min-height: 90vh;
    margin-top: 10vh;
}
@media(min-height:920px){
    .content{
        height:94vh;
        margin-top: 6vh;
    }
}
/* Menu lateral */
.menu-user{
    z-index: 998;
    transition: .4s;
    position: fixed;
}
@media(max-width:769px){
    .menu-user{
        position: absolute;
    }
}
/* Botão de Exportação dos dados da tabela */
.btn-exports{
    box-shadow: 0px 0px 0px !important;
}
.btn-exports:hover{
    background-color: rgb(69, 76, 83) !important;
}
.fa-ellipsis-v{
    font-size: 18px;
}
.fa-file-excel{
    font-size: 16px !important;
}
/* Botão de cadastro */
.add{
    background-color: #20B2AA;
    color: #FFFFFF;
    cursor: pointer;
}
/* Botões de edição e exclusão dos registros */
.btn-action{
    text-align: center;
    width: 45px;
    padding: 10px;
}
/* Janelas modal */
.modal-header button:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
/* Recursos datatable */
label{
    margin: 15px 0;
}
select.custom-select{
    background-color: rgb(238, 240, 240);
    border: 0px !important;
    border-radius: 5px;
    margin: 0 0 0 10px; 
    cursor: pointer;
}
input[type="search"]{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 50px;
}
.dataTables_info, .dataTables_paginate{
    margin: 10px 0px !important;
    padding-top: 0px !important;
    line-height: 38px !important;
}
.page-item.active .page-link{
    background-color: #20B2AA!important;
    border: 1px solid #20B2AA;  
}


