/* Dashboard usuário */
.dashboard-gradient{
    background:radial-gradient(rgba(17, 17, 17, 0.849),#111);
}
.bg-1, .bg-2, .bg-3, .bg-4{
    transition: 0.4s;
    cursor: pointer;  
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-1{
    background-color: rgba(30, 163, 156, 0.5);
}
.bg-1:hover{
    background-color: rgb(30, 163, 156);
}
.bg-2{
    background-color: rgba(37, 144, 231, 0.5);
}
.bg-2:hover{
    background-color: rgb(37, 144, 231);
}
.bg-3{
    background-color: rgba(51, 112, 51, 0.452);
}
.bg-3:hover{
    background-color: rgb(51, 112, 51);
}
.bg-4{
    background-color: rgba(58, 70, 180, 0.534);
}
.bg-4:hover{
    background-color: rgb(58, 70, 180);
}
/* Dashboard Administrador */
.menu-adm{
    height:100vh;
    top:0;
    width: 20%;
    position:fixed;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background-color:#242939;
    z-index: 999;
    transition: 0.4s !important;
}
@media(max-width:1200px){
    .menu-adm{
        left: -20%;
    }
}
.menu-secret-adm{
    height:100vh;
    top:10vh;
    width:18rem;
    position:fixed;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background-color:#242939;
    z-index: 999;
    transition: 0.4s !important;
}
@media(min-width:1200px){
    .menu-secret-adm{
        left: -18rem;
    }
}
.logo{
    line-height: 10vh;
    margin: 0;
}
.subtitle-menu-adm{
    line-height: 6vh;
}
.menu-secret-adm>nav>ul>a, .menu-adm>nav>ul>a{
    color: #DCDCDC; 
}
ul>a:hover{
    background-color:#1f2433;
}
ul>a.active{
    background-color: #20B2AA;
    color: #ffffff;
}
ul>a>.icon{
    width: 40px;
    font-size:18pt;
}
ul>a>span{
    font-size:11pt;
}
@media(min-height:920px){
    .bg-1, .bg-2, .bg-3, .bg-4{
        height:47vh;
    }
    .menu-secret-adm{
        top:6vh !important;
    }
    .logo{
        line-height: 6vh;
    }
    .subtitle-menu-adm{
        line-height: 4vh;
    }
}



