.header{
    height:10vh;
    top: 0 !important;
    width: 100% !important;
    z-index: 999;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) !important;
    background-color: #FFFFFF;
}
.header-adm{
    height: 10vh;
    top: 0;
    right: 0;
    width: 80%;
    position: fixed;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2) !important;
    z-index: 999;
    transition: all .4s;
    background-color: #FFFFFF;
}
@media(max-width:1200px){
    .header-adm{
        width: 100% !important;
    }
}
@media(min-height:920px){
    .header{
        height:6vh;
    }
    .header-adm{
        height: 6vh;
    }
}
.button{
    width: 40px;
    cursor: pointer;
    font-size:18pt;
    color:#354052;
    transition: .4s;
}
.btn-user, .btn-notification{
    border-radius: 45px;  
}
.btn-user:hover {
    background-color: rgb(230, 227, 227);
    transition: 0.4s ease-in-out;
}
.btn-user>img{
    border-radius:50%;
}
.drop{
    background-color: #FFFFFF;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999 !important;
    padding: 0 !important;
    border: 1px solid #e4eaf2;
    margin-right: 30px !important;
}
.drop a{
    text-decoration: none;
    display: block;
    font-size: 11pt;
    font-family: Arial;
    color: #6c757d;
    transition: 0.1s ease-in-out;
    padding: 15px 20px !important;
}
.drop a:hover {
    background-color: #F2F2F2;
    color: #20B2AA;
}
.drop a i{
    font-size: 12pt
}