.content{
    background-color: #F5F9FC;
    min-height: 92vh;
}
.menu-user{
    z-index: 999;
    transition: .4s;
}
.add{
    background-color: #1ea39c;
    color: #FFFFFF;
    cursor: pointer;
}
.fa-ellipsis-v{
    font-size: 18px;
}
.btn-action{
    text-align: center;
    width: 45px;
    padding: 10px;
}